@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
textarea {
  @apply focus:outline-none;
}

.input,
.input-readonly {
  @apply rounded-md border-2 border-transparent px-2 py-1.5;
}
.input-readonly {
  @apply bg-transparent;
}

.input {
  @apply bg-neutral-950/50 placeholder:text-neutral-650 focus:border-primary-600 focus:text-white;
}

.transition-colors--default {
  @apply transition-colors duration-150;
}

.text-secondary {
  @apply transition-colors--default text-neutral-350 hover:text-neutral-250;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
