@tailwind base;
@tailwind components;
@tailwind utilities;

.blob {
  position: absolute;
  width: 40dvw;
  height: 40dvh;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 150, 0.6),
    rgba(0, 204, 255, 0.6)
  );
  filter: blur(15px);
  border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
  animation: moveBlob 15s ease-in-out infinite;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes moveBlob {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
    transform: translate(-40%, -60%) scale(1);
  }
  50% {
    border-radius: 90% 30% 20% 70% / 90% 70% 30% 50%;
    transform: translate(-60%, -40%) scale(1.4);
  }
}

.no-scroll {
  overflow: hidden;
}

/* ***** TEXT *****  */

.text-dark {
  @apply text-neutral-850 dark:text-neutral-50;
}

.text-light {
  @apply text-neutral-650 dark:text-neutral-350;
}

.text-heading {
  @apply text-5xl font-black md:text-6xl;
}

.text-subheading {
  @apply text-3xl font-bold;
}

.text-body {
  @apply text-base;
}

.text-caption {
  @apply text-sm;
}

.text-secondary,
.text-secondary--hoverable {
  @apply transition-colors--default text-light;
}

.text-secondary--hoverable {
  @apply hover:text-neutral-700 dark:hover:text-neutral-250;
}

/* ***** BACKGROUND ***** */

.border-color {
  @apply border-neutral-100 dark:border-neutral-700;
}

.bg-dark {
  @apply bg-neutral-100 dark:bg-neutral-850;
}

.bg-light {
  @apply bg-neutral-50 dark:bg-neutral-800;
}

.task-bg,
.menu-bg {
  @apply bg-light rounded-md shadow-md;
}

.task-bg {
  @apply border border-transparent hover:border-neutral-250 dark:hover:border-neutral-700;
}

.section-light {
  @apply bg-light border-color border-y;
}

.section-padding {
  @apply px-8;
}

/* ***** ELEMENTS ***** */

.container {
  @apply mx-auto max-w-[1400px];
}

.menu {
  @apply absolute left-[50dvw] top-[50dvh] w-[min(calc(100dvw-2rem),25rem)] -translate-x-1/2 -translate-y-1/2;
}

select,
button,
.input,
.input-readonly,
textarea {
  @apply focus-visible:outline-1 focus-visible:outline-neutral-25 focus-visible:ring-4 focus-visible:ring-primary-600;
}

select,
.input,
textarea,
option {
  @apply dark:bg-neutral-850 dark:focus:bg-neutral-950/50;
}

select {
  @apply bg-dark w-full rounded-sm px-2 py-3 text-sm font-bold text-neutral-800 dark:text-white;
}

select option {
  @apply bg-light;
}

.input,
.input-readonly {
  @apply rounded-sm px-2 py-1.5;
}

.input {
  @apply placeholder:text-neutral-650 focus:text-neutral-950 dark:focus:text-white;
}

.input-readonly {
  @apply text-light bg-transparent;
}

.transition-colors--default {
  @apply transition-colors duration-150;
}

/* ***** RESET ***** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
