@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./blobs.css";

/* .animated-background__1 {
  background: linear-gradient(270deg, #ff7eb3, #df75ff, #ff7eb3, #ff758c);
  background-size: 400% 400%;
  animation: animated-background__1__animation 8s ease infinite;
}

@keyframes animated-background__1__animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.no-scroll {
  overflow: hidden;
}

/* ***** TEXT *****  */

.text-dark {
  @apply text-neutral-850 dark:text-neutral-50;
}

.text-light {
  @apply text-neutral-650 dark:text-neutral-350;
}

.text-heading {
  @apply text-5xl font-black md:text-6xl;
}

.text-subheading {
  @apply text-3xl font-bold;
}

.text-body {
  @apply text-base;
}

.text-caption {
  @apply text-sm;
}

.text-secondary,
.text-secondary--hoverable {
  @apply transition-colors--default text-light;
}

.text-secondary--hoverable {
  @apply hover:text-neutral-700 dark:hover:text-neutral-250;
}

/* ***** BACKGROUND ***** */

.border-color {
  @apply border-neutral-100 dark:border-neutral-700;
}

.border-color__test {
  @apply border-neutral-100 dark:border-neutral-700;
}

.bg-dark {
  @apply bg-neutral-100 dark:bg-neutral-800;
}

.bg-light {
  @apply bg-neutral-50 dark:bg-neutral-700;
}

.bg-light__test {
  @apply bg-neutral-100/60 backdrop-blur dark:bg-neutral-900/85;
}

.bg-light__test-2 {
  @apply bg-neutral-50/80 backdrop-blur-sm dark:bg-neutral-850/90;
}

.task-bg,
.menu-bg {
  @apply bg-light rounded-md shadow-xl;
}

.task-bg {
  @apply border border-transparent hover:border-neutral-250 dark:hover:border-neutral-700;
}

.section-light {
  @apply bg-light border-color border-y;
}

.section-padding {
  @apply px-2 md:px-8;
}

/* ***** ELEMENTS ***** */

.container {
  @apply mx-auto max-w-[1400px];
}

.menu {
  @apply absolute left-[50dvw] top-[50dvh] w-[min(calc(100dvw-2rem),25rem)] -translate-x-1/2 -translate-y-1/2;
}

select,
button,
.input,
.input-readonly,
textarea {
  @apply text-dark focus-visible:outline-1 focus-visible:outline-neutral-25 focus-visible:ring-4 focus-visible:ring-primary-600;
}

select,
.input,
textarea,
option {
  @apply dark:bg-neutral-850 dark:focus:bg-neutral-950/50;
}

select {
  @apply bg-dark w-full rounded-sm px-2 py-3 text-sm font-bold text-neutral-800 dark:text-white;
}

select option {
  @apply bg-light;
}

.input,
.input-readonly {
  @apply rounded-sm px-2 py-1.5 text-sm;
}

.input {
  @apply placeholder:text-neutral-650 focus:text-neutral-950 dark:focus:text-white;
}

.input-readonly {
  @apply text-light bg-transparent;
}

.transition-colors--default {
  @apply transition-colors duration-150;
}

/* ***** RESET ***** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
